* {
  margin: 0;
  padding: 0;
  body{
    margin: 0;
    padding: 0;
  }
}
body{
  position: relative;
}
.navbar{
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%;
  transform: translateY(-100%);
  transition: transform .3s ease;
}
.navbar.active{
  transform: none;
}
.page_wapper{
  padding: 0;
}
.hidden_hover{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}
.video{
  position: relative;
  height: 90%;
  display: flex;
}
.video_wrapper{
  position: relative;
  width: 95%;
  height: 850px;
}
.video .controls{
  height: 65px;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  
}
.video aside{
  position: absolute;
  width: 400px;
  height: 850px;
  right: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateX(300px);
  transition: transform .3s ease;
  background: #fff;
  z-index: 10;
}
.video aside.active{
  transform: none;
}

.video aside > div {
  margin:25px 10px 0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.video-js{
  width: 100%;
  height: 100%;
}

.controls > button {
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 기본 레이아웃 */
.menu {
  width: 200px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #d4d4d4;
}

/* Aside 바 */
.aside {
  position: fixed;
  top: 0;
  right: -300px; /* 기본적으로 숨김 */
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
}

.aside.open {
  transform: translateX(-300px); /* 열림 상태 */
}

.aside h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.aside p {
  font-size: 14px;
  color: #555;
}