body{
  font-weight: 400;
}
table a{
  text-decoration: none;
  color: black;
}
.coupon_serch .form-select,
.coupon_serch .form-control{
  font-size: 1rem;
  height: 40px;
  font-weight: 500;
}
.couponlist tbody tr td:first-child input{
  width: 18px;
  height: 18px;
}
.couponlist .form-check-input {
  width: 30px;
  height: 16x;
  transform: scale(0.8);
}
.couponlist .form-check-input:checked {
  background-size: 14px 14px;
}
.coupon_serch .form-control{
  width: 300px;
}
.couponlist_view .Rows,
.couponlist_view .Layout{
  border: none;
  width: 32px;
  height: 32px;
  background: none;
}
.btn a{
  text-decoration: none;
  color: white;
}
.coupon_serch button{
  width: 80px;
}
.couponlist_view{
    gap: 13px;
}
.couponlist thead{
  height: 48px;
}
.couponlist thead tr th{
  color:var(--bs-primary);
}
.coupon_cpImg { 
  width: 100%;
  height: 220px;
  background: #F8F9FA;
}

.coupon_cpImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coupon tbody, 
.coupon td, 
.coupon tfoot, 
.coupon th, 
.coupon thead, 
.coupon tr{
  border: none;
}

.insert_explanation input{
  height: 80px;
}

.coupon table tr td span {
  margin-right: 120px;
}